<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EBCI_FrontEnd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EBCI_FrontEnd.Properties.Settings>
            <setting name="HubConnectionUrl" serializeAs="String">
                <value>https://localhost:44313</value>
            </setting>
            <setting name="LogsPath" serializeAs="String">
                <value>C:\Users\karol\Desktop\EBCI\EBCI_Frontend</value>
            </setting>
        </EBCI_FrontEnd.Properties.Settings>
    </applicationSettings>
</configuration>