<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="EBCI_BackEnd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</compilers>
	</system.codedom>
	<system.diagnostics>
		<sources>
			<source name="SignalR.Transports.WebSocketTransport">
				<listeners>
					<add name="SignalR-Transports" />
				</listeners>
			</source>
			<source name="SignalR.Transports.TransportHeartBeat">
				<listeners>
					<add name="SignalR-Transports" />
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="SignalRSwitch" value="Verbose" />
		</switches>
		<sharedListeners>
			<add name="SignalR-Transports" type="System.Diagnostics.TextWriterTraceListener" initializeData="signalr_trace.log" />
		</sharedListeners>
	</system.diagnostics>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.3.0" newVersion="4.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.3.0" newVersion="4.2.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="owin:AutomaticAppStartup" value="true" />
	</appSettings>
 <applicationSettings>
  <EBCI_BackEnd.Properties.Settings>
   <setting name="LogsPath" serializeAs="String">
    <value>C:\Users\karol\Desktop\EBCI\EBCI_Backend</value>
   </setting>
   <setting name="XLUser" serializeAs="String">
    <value>ADMIN</value>
   </setting>
   <setting name="XLPassword" serializeAs="String">
    <value />
   </setting>
   <setting name="XLDatabaseName" serializeAs="String">
    <value>DEMO</value>
   </setting>
   <setting name="XLLicenseServer" serializeAs="String">
    <value />
   </setting>
   <setting name="XLBatchId" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="DBServer" serializeAs="String">
    <value>KJ-LAPTOP</value>
   </setting>
   <setting name="DBName" serializeAs="String">
    <value>CDNXL_DEMO</value>
   </setting>
   <setting name="DBUser" serializeAs="String">
    <value>sa</value>
   </setting>
   <setting name="DBPassword" serializeAs="String">
    <value>HaloBaza123abc</value>
   </setting>
  </EBCI_BackEnd.Properties.Settings>
 </applicationSettings>
</configuration>