@page "/"
@using Microsoft.AspNetCore.Components.Web

<PageTitle>Example Blazor-CDNXL Integration</PageTitle>

<h1>Welcome to my application :)</h1>

<div class="home-card">
    <div class="home-text-stuff" style="display:flex; flex-direction: column; gap: 0.5rem;">
        <span>
            This is an example of Blazor - Comarch ERP XL integration through simple <br />
            Blazor Server web application using a form to add basic stuff to the PZ document
        </span>
        <span>
            I had to remind myself some of the crucial aspects how Blazor operates with HTML/CSS and C# code <br/>
            ocasionally using JS scripts if something is not possible with previously mentioned languages or <br />
            simply is easier to do.
        </span>
        <span>
            I didn't really spend much time on styling this to be visually modern or just pretty.
        </span>
    </div>
</div>
